body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: #000;
}

/* HEADER */

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 13px;
  border-bottom: 1px solid #efefef;
}

.site-header div {
  flex: 1;
}

.site-header .center {
  text-align: center;
}

.site-header .right {
  text-align: right;
}


.divider {
  height: 1px;
  background: #efefef;
}


.archive-row {
  position: relative;
}

.row-meta {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 10px;
  opacity: 0.6;
}

/* SCROLL SYSTEM */

.scroll-row {
  overflow: hidden;
  cursor: grab;
  padding: 60px 0 40px 0;
}

.scroll-track {
  display: flex;
  gap: 60px;
  padding: 0 40px;
  transition: transform 0.3s ease;
}

.item {
  flex: 0 0 auto;
  height: 180px;
  
}

.item img {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 13px;
    border-bottom: 1px solid #efefef;
}

/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  max-width: 85vw;
  max-height: 85vh;
  background: #efefef;
  padding: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.modal-content img {
  max-width: 100%;
  max-height: 75vh;
  object-fit: contain;
  display: block;
}

/* CAPTION */

.modal-caption {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.caption-left {
  opacity: 0.7;
}

.caption-right {
  text-align: right;
}
